<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mission Overview</title>
    <link rel="stylesheet" type="text/css" href="overview.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body>
    <div class="header">Ground Control System</div>
    <div class="row">
        <div class="telemetry-overview-command-bar">
            <div class="column">
                <h3>Container Commands</h3>
                <button onclick="sendCommand('CMD,2764,CX,ON')">Start Container Telemetry</button>
                <button onclick="sendCommand('CMD,2764,CX,OFF')">Stop Container Telemetry</button>
                <button onclick="sendCommandToP1('1')">Start P1 Telemetry</button>
                <button onclick="sendCommandToP2('1')">Start P2 Telemetry</button>
                <button onclick="sendCommandToP1('0')">Stop P1 Telemetry</button>
                <button onclick="sendCommandToP2('0')">Stop P2 Telemetry</button>
                <button onclick="sendContainerSetTimeCommand()">Set current container time</button>
                <button onclick="sendCommand('CMD,2764,SIM,ENABLE')">SIM mode enable</button>
                <button onclick="sendCommand('CMD,2764,SIM,ACTIVATE')">SIM mode activate</button>
                <button onclick="sendCommand('CMD,2764,SIM,DISABLE')">SIM mode disable</button>
                <input id="custom-command-input" type="text" placeholder="Custom Command...">
                <button onclick="sendCustomCommand()">Send custom command</button>
            </div>
            <div class="column">
                <h3>Ground controls</h3>
                <button onclick="toggleSendSimData()">Begin send SIM data</button>
                <button onclick="toggleMQTTActivated()">Activate/Deactivate MQTT</button>
            </div>
        </div>
    
        <div style="flex-grow: 1;"> 
            <div class="telemetry-overview">
                <p>Container Telemetry</p>
                <canvas id="container-telemetry-canvas"></canvas>
                <div class="telemetry-overview-status-bar">
                    <p id="container-telemetry-temperature">Current temperature:</p>
                    <p id="container-telemetry-battery-voltage">Current battery voltage:</p>
                    <p id="container-telemetry-gps-coordinates">Current GPS coordinates:</p>
                </div>
            </div>
            <div class="telemetry-overview">
                <p>Payload 1 Telemetry</p>
                <canvas id="payload-1-telemetry-canvas"></canvas>
                <div class="telemetry-overview-status-bar">
                    <p id="payload-1-telemetry-temperature">Current temperature:</p>
                    <p id="payload-1-telemetry-rotation-rate">Current rotation rate:</p>
                </div>
            </div>
            <div class="telemetry-overview">
                <p>Payload 2 Telemetry</p>
                <canvas id="payload-2-telemetry-canvas"></canvas>
                <div class="telemetry-overview-status-bar">
                    <p id="payload-2-telemetry-temperature">Current temperature:</p>
                    <p id="payload-2-telemetry-rotation-rate">Current rotation rate:</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row telemetry-overview-status-bar">
        <svg id="mqtt-off-indicator" height="15px" width="15px">
            <circle cx="7" cy="7" r="6" stroke="red" stroke-width="1" fill="red"/>
        </svg>
        <svg id="mqtt-on-indicator" height="15px" width="15px" style="display: none">
            <circle cx="7" cy="7" r="6" stroke="green" stroke-width="1" fill="green"/>
        </svg>
        MQTT data   
        <svg id="sim-off-indicator" height="15px" width="15px">
            <circle cx="7" cy="7" r="6" stroke="red" stroke-width="1" fill="red"/>
        </svg>
        <svg id="sim-on-indicator" height="15px" width="15px" style="display: none">
            <circle cx="7" cy="7" r="6" stroke="green" stroke-width="1" fill="green"/>
        </svg>
        SIM data        
    </div>
    <script src="file-utils.js"></script>
    <script src="communication.js"></script>
    <script src="mqtt.js"></script>
    <script src="overview.js"></script>
</body>
</html>
