<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mission Overview</title>
    <link rel="stylesheet" type="text/css" href="overview.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body>
    <div class="column">
        <div>
            <h3>Container Commands</h3>
            <button>Start Telemetry</button>
            <button>SIM mode activate</button>
            <button>SIM mode deactivate</button>
        </div>
        <div>
            <h3>Ground controls</h3>
            <button>Save current data</button>
            <button>Send SIM data</button>
        </div>
    </div>

    <div class="column">
        <div class="telemetry-overview">
            <p>Container Telemetry</p>
            <canvas id="container-telemetry-canvas"></canvas>
            <div class="telemetry-overview-status-bar">
                <p id="container-telemetry-mission-time">Current mission time:</p>
                <p id="container-telemetry-battery-voltage">Current battery voltage:</p>
                <p id="container-telemetry-gps-coordinates">Current GPS coordinates:</p>
            </div>
        </div>
        <div class="telemetry-overview">
            <p>Payload 1 Telemetry</p>
            <canvas id="payload-1-telemetry-canvas"></canvas>
            <div class="telemetry-overview-status-bar">
                <p id="payload-1-telemetry-mission-time">Current mission time:</p>
                <p id="payload-1-telemetry-temperature">Current temperature:</p>
                <p id="payload-1-telemetry-rotation-rate">Current rotation rate:</p>
            </div>
        </div>
        <div class="telemetry-overview">
            <p>Payload 2 Telemetry</p>
            <canvas id="payload-2-telemetry-canvas"></canvas>
            <div class="telemetry-overview-status-bar">
                <p id="payload-2-telemetry-mission-time">Current mission time:</p>
                <p id="payload-2-telemetry-temperature">Current temperature:</p>
                <p id="payload-2-telemetry-rotation-rate">Current rotation rate:</p>
            </div>
        </div>
    </div>
    <script src="overview.js"></script>
</body>
</html>
