<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mission Overview</title>
    <link rel="stylesheet" type="text/css" href="overview.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body>
    <div class="row">
        <div class="column telemetry-overview-command-bar">
            <div>
                <h3>Container Commands</h3>
                <button onclick="sendCommand('CMD,2764,CX,ON')">Start Container Telemetry</button>
                <button onclick="sendCommand('CMD,2764,SP1X,ON')">Start P1 Telemetry</button>
                <button onclick="sendCommand('CMD,2764,SP2X,ON')">Start P2 Telemetry</button>
                <button onclick="sendContainerSetTimeCommand()">Set current container time</button>
                <button onclick="sendCommand('CMD,2764,SIM,ENABLE')">SIM mode enable</button>
                <button onclick="sendCommand('CMD,2764,SIM,ACTIVATE')">SIM mode activate</button>
                <button onclick="sendCommand('CMD,2764,SIM,DISABLE')">SIM mode disable</button>
                <input id="custom-command-input" type="text" placeholder="Custom Command...">
                <button onclick="sendCustomCommand()">Send custom command</button>
            </div>
            <div>
                <h3>Ground controls</h3>
                <button onclick="beginSendSimData()">Begin send SIM data</button>
                <button onclick="toggleMQTT()">Activate/Deactivate MQTT</button>
            </div>
        </div>
    
        <div class="column">
            <div class="telemetry-overview">
                <p>Container Telemetry</p>
                <canvas id="container-telemetry-canvas"></canvas>
                <div class="telemetry-overview-status-bar">
                    <p id="container-telemetry-mission-time">Current mission time:</p>
                    <p id="container-telemetry-battery-voltage">Current battery voltage:</p>
                    <p id="container-telemetry-gps-coordinates">Current GPS coordinates:</p>
                </div>
            </div>
            <div class="telemetry-overview">
                <p>Payload 1 Telemetry</p>
                <canvas id="payload-1-telemetry-canvas"></canvas>
                <div class="telemetry-overview-status-bar">
                    <p id="payload-1-telemetry-mission-time">Current mission time:</p>
                    <p id="payload-1-telemetry-temperature">Current temperature:</p>
                    <p id="payload-1-telemetry-rotation-rate">Current rotation rate:</p>
                </div>
            </div>
            <div class="telemetry-overview">
                <p>Payload 2 Telemetry</p>
                <canvas id="payload-2-telemetry-canvas"></canvas>
                <div class="telemetry-overview-status-bar">
                    <p id="payload-2-telemetry-mission-time">Current mission time:</p>
                    <p id="payload-2-telemetry-temperature">Current temperature:</p>
                    <p id="payload-2-telemetry-rotation-rate">Current rotation rate:</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <script src="file-utils.js"></script>
    <script src="communication.js"></script>
    <script src="overview.js"></script>
</body>
</html>
