body {
  background: grey;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.telemetry-overview {
  background: white;
}

.telemetry-overview-status-bar {
  display: flex;
  flex-direction: row;
}