body {
  background: grey;
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-grow: 1;
}

.telemetry-overview-command-bar {
  max-width: 35%;
}

.telemetry-overview {
  background: white;
}

.telemetry-overview-status-bar {
  display: flex;
  flex-direction: row;
  height: 2rem;
}